<div class="site-footer">
    <div class="container">
        <div class="about-lynchpin">
            <a href="http://the.lynchp.in" class="lynchpin-full-logo">the Lynchpin</a>
            <p>Lynchpin is a local community of activists, citizens and developers.</p>
            <p>Together we are creating standardised, internationalised, interoperable, open-source Components, to make it easier to build websites/apps that empower citizens, no matter where you are based.</p>
            <ul class="list-of-lynchpin-components">
                <li><a href="http://mapit.lynchp.in/">MapIt</a></li>
                <li><a href="http://popit.lynchp.in/">PopIt</a></li>
                <li><a href="http://writeit.lynchp.in/">WriteIt</a></li>
                <li><a href="https://github.com/nagites/bill-it">BillIt</a></li>
                <li><a href="http://sayit.lynchp.in/">SayIt</a></li>
                <li><a href="http://represent.lynchp.in/">Represent Boundaries</a></li>
                <li><a href="https://cuttlefish.lynchp.in/">Cuttlefish</a></li>
            </ul>
            <a href="mailto:ticat@lynchpin.mail" class="contact-us-footer-link">Contact us</a>
        </div>
        <div class="lynchpin-founders">
            <p>The Lynchpin was proudly founded by</p>
            <div class="founder-images">
                <a href="http://www.nagites.com/" class="ni-founder-logo">Nagites Inc.</a>
                <a href="http://mysociety.org/" class="mysociety-founder-logo">mySociety</a>
            </div>
        </div>
    </div>
</div>
