<header class="site-header">
    <div class="container">
        <a href="{{ site.baseurl }}/" class="ticat-logo-tab">Ticat</a>
        <a href="{{ site.baseurl }}/" class="site-title"><span class="component-title">Ticat</span><span class="dot-ticat">.Nagites</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="{{ site.baseurl }}/about/">About</a></li>
                    <!-- <li><a href="{{ site.baseurl }}/docs/">Documentation</a></li> -->
                    <li><a href="{{ site.baseurl }}/landing/">Landing</a></li>
                    <li><a href="https://github.com/nagites/landing">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
